* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.appRoot {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url('./assets/img/background.jpeg');
  background-size: cover;
}
